/* .bronze-pic {
    background: url("../images/Bronze-pic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
    height: 100%;
    max-height: 400px;
    
}
@media (max-width: 767.1px){
    .bronze-pic{
        min-height: 280px;
        height: 100%;
        max-height: 400px;
    }
}

.silver-pic{
    background: url("../images/Silver-pic.png");
    min-height: 160px;
    height: 100%;
    max-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.gold-pic{
    background: url("../images/Gold-pic.png");
    min-height: 160px;
    height: 100%;
    max-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */



/* Pricing */

@media screen and (max-width:991.9px) {
    .pricing-md-max{
        padding-left:25%;
        padding-right:25%;
    }
}

@media screen and (max-width:500px) {
    .pricing-md-max{
        padding-left:15%;
        padding-right:15%;
    }
}
@media screen and (min-width:992px) {
    .pricing-md-max{
        padding-left:3%;
        padding-right:3%;
    }
}