

    
    
.Fabric-Protect-pic{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.22);
    height: auto;
    min-height: 330px;
    width: auto;
    min-width: 170px;
    margin: auto;
    background: white;
    margin-bottom: 15px;
    padding-left: 20px;
    background: linear-gradient(to bottom,
    rgba(30,72,112,0.8) 50%,
    rgba(30,72,112,0.8) 50%), url("../images/fabric-protection.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}

.paint-protect-pic {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.22);
    height: auto;
    min-height: 330px;
    width: auto;
    min-width: 170px;
    margin: auto;
    background: white;
    margin-bottom: 15px;
    padding-left: 20px;
    background: linear-gradient(to bottom,
    rgba(30,72,112,0.8) 50%,
    rgba(30,72,112,0.8) 50%), url("../images/paint-protection.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}


@media screen and (max-width:500px){
    .service-card{
        min-width: 150px;
        max-width: 230px;
        min-height: 355px;
    }
    
  }